@value tokens: "./tokens.module.css";
@value colorPrimary, darkPrimary from tokens;

.blueButton {
  display: flex;
  flex-direction: row;
  padding: 1.6rem 7.2rem;
  background: darkPrimary;
  border-radius: 1.5rem;
  width: 28.7rem;
  height: 8.3rem;
  color: colorPrimary;
  font-family: Bungee;
  font-size: 4.2rem;
  justify-content: center;
  align-items: center;
}

.yellowButton {
  display: flex;
  flex-direction: row;
  background: colorPrimary;
  border-radius: 1rem;
  width: 28rem;
  height: 5.4rem;
  color: darkPrimary;
  font-family: Bungee;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}


.base {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content {
  composes: base;
  grid-row: span 2;
}

.full {
  composes: base;
  grid-row: 1 / -1;
}

.column {
  padding: spacer1;
}
