@value tokens: "../styles/tokens.module.css";
@value colorPrimary, darkPrimary from tokens;

.back {
  composes: blueButton from "../styles/buttons.module.css";
  font-size: 3rem;
  width: 20.4rem;
  padding: 0.5rem 1rem;
  height: 5.8rem;
  border: none;

  position: absolute;
  left: 24px;
  top: 20px;
}
