@value tokens: "../styles/tokens.module.css";
@value colorPrimary, darkPrimary, OrangeColor from tokens;

.block {
    width: 100%;
    background-color: colorPrimary;
    color: darkPrimary;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
  }
    