@value tokens: "../styles/tokens.module.css";
@value colorPrimary, darkPrimary from tokens;

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 80rem 1fr;
  grid-template-rows: 11rem auto 21rem;
  grid-template-areas: "backlink topbox ." " . middel ." "bottombox bottombox bottombox";
  justify-content: center;
}

.hidden {
  display: none;
}

.backlink {
  grid-area: backlink;
}

.mapContainer {
  grid-area: middel;
}

.title {
  font-family: Bungee;
  font-size: 4rem;
  text-align: center;
  color: #ffffff;
}

.subtitle {
  font-size: 1.8rem;
  text-align: center;
  text-transform: lowercase;
  color: #ffffff;
}

.from {
  margin-top: 2.2rem;
  display: flex;
}
