@value tokens: "../styles/tokens.module.css";
@value colorPrimary, darkPrimary from tokens;

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.hidden {
  display: none;
}
/* .container__map {
  display:flex;
  align-self: center;
  justify-self: center;
} */
