@value tokens: "../styles/tokens.module.css";
@value colorPrimary, darkPrimary from tokens;

.block {
  width: 100%;
  height: 100vh;
  background-color: darkPrimary;
  color: colorPrimary;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
}
  
.title {
  padding-top: 9.4rem;
  color: colorPrimary;
  text-align: center;
  font-family: "Bungee", sans-serif;
  font-size: 3.5rem;
}

.subtitle {
  font-size: 2.5rem;
  margin-top: 1.3rem;
}

.imgcontainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 66rem;
}

.img__main {
  grid-column: 2/3;
  position: relative;
  margin-top: -14rem;
}