@value tokens: "../styles/tokens.module.css";
@value colorPrimary, darkPrimary from tokens;

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 80rem 1fr;
  grid-template-rows: 11rem auto 21rem;
  grid-template-areas: ". topbox ." " middel middel middel" "bottombox bottombox bottombox";
  justify-content: center;
}
.hidden {
  display: none;
}

.video {
  grid-area: middel;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
  position: absolute;
}
