@value tokens: "../../styles/tokens.module.css";
@value colorPrimary, darkPrimary, AccentColor from tokens;

.container {
  background-color: #ff961a;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 80rem 1fr;
  grid-template-rows: 11rem auto 21rem;
  grid-template-areas: "backlink topbox ." "inhoud inhoud inhoud" "bottombox bottombox bottombox";
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.hidden {
  display: none;
}

.backlink {
  grid-area: backlink;
}

.CarDetailContainer {
  grid-area: inhoud;
  grid-row: 1/3;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  display: grid;
  grid-template-columns: 2fr 1.8fr 2fr;
  grid-template-areas: 'leftcontent middlecontent rightcontent';
}

.road {
  grid-area: bottombox;
  align-self: center;
  width: 100%;
  height: auto;
}

.carRoad {
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
  transform: rotateY(180deg);
  width: 13.4rem;
  height: 8.5rem;
}

.roadandcar {
  margin-top: 2.5rem;
}

.Point {
  margin-top: -4rem;
  height: 9.6rem;
  align-self: start;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.firstPoint {
  grid-row: 3;
  grid-column: 1;
  justify-self: right;
  margin-right: 2rem;
}

.secondPoint {
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
}

.thirdPoint {
  grid-row: 3;
  grid-column: 3;
  justify-self: left;
  margin-left: 4rem;
}

.bumpedUp {
  margin-top: -6rem;
}

.redCircle {
  width: 4.6rem;
  height: 4.6rem;
  background: AccentColor;
  border-radius: 50%;
  font-family: Bungee;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: colorPrimary;
}

.pointTitle {
  font-family: Bungee;
  font-style: normal;
  font-weight: normal;
  font-size: 15.4121px;
  line-height: 18px;
  padding: 1rem 0 0.5rem;

  text-align: center;

  color: #00204b;
}

.pointImg {
  -webkit-filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(0deg) saturate(0%) contrast(2);
  filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(0deg) saturate(0%) contrast(2);
}

.roadandcar {
  margin-top: 2.5rem;
}

.content__title {
  text-align: center;
  font-family: "Bungee", sans-serif;
  font-size: 4rem;
  color: #ffffff;
}

.content__article {
  margin-top: 14rem;
}

.content__background {
  position: absolute;
  z-index: -1;
}

.background__title {
  color: #ffffff;
  font-family: "Bungee", sans-serif;
  font-size: 3rem;
  transform: rotate(-34deg);
  width: 20rem;
  margin-top: 12.7rem;
  margin-left: 14.5rem;
  z-index: 1;
}

.background__img {
  left: 0;
  top: 0;
}

.background__asset {
  position: absolute;
}