@value tokens: "../../styles/tokens.module.css";
@value colorPrimary, darkPrimary, AccentColor from tokens;

.container {
  background-color: #ff961a;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 80rem 1fr;
  grid-template-rows: 11rem auto 21rem;
  grid-template-areas: "backlink topbox ." "inhoud inhoud inhoud" "bottombox bottombox bottombox";
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.hidden {
  display: none;
}

.backlink {
  grid-area: backlink;
}

.CarDetailContainer {
  grid-area: inhoud;
  grid-row: 1/3;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  display: grid;
  grid-template-columns: 2fr 1.8fr 2fr;
  grid-template-areas: "leftcontent middlecontent rightcontent";
  gap: 3rem;
}

.content__title {
  text-align: center;
  font-family: "Bungee", sans-serif;
  font-size: 4rem;
  color: #ffffff;
}

.content__article {
  margin-top: 14rem;
}

.content__background {
  position: absolute;
  z-index: -1;
}

.background__title {
  color: #ffffff;
  font-family: "Bungee", sans-serif;
  font-size: 3rem;
  transform: rotate(-34deg);
  width: 20rem;
  margin-top: 12.7rem;
  margin-left: 14.5rem;
  z-index: 1;
}

.background__img {
  left: 0;
  top: 0;
}

.background__asset {
  position: absolute;
}

.content__subtitles {
  font-size: 2.1rem;
  font-family: "Bungee", sans-serif;
  color: darkPrimary;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.article__left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem 1fr;
  padding: 5rem;
  padding-left: 8rem;
  gap: 0.8rem;
  height: 55vh;
  margin-top: 19rem;
}

.localinfo {
  background: darkPrimary;
  border-radius: 0.7rem;
  color: colorPrimary;
  font-size: 1.6rem;
  font-family: "Bungee", sans-serif;
  text-align: center;
  display: flex;
}

.localinfo__info {
  grid-column: 1/3;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
}

.content__pictures {
  margin-top: 10rem;
}

.content__pictures {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 1fr;
  padding: 1rem 5rem;
  padding-right: 8rem;
}

.images__small {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.localinfo__hour {
  flex-direction: row-reverse;
  text-align: left;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5rem;
}

.localinfo__time {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 0 1.8rem;
  padding-left: 1rem;
}

.local__list {
  margin: 0 3rem;
}

.list__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.6rem;
}

.localinfo__title {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
}

.list__value {
  font-weight: bold;
}

.coordinates__div {
  margin: 1rem;
  margin-bottom: 2.5rem;
}

.coordinates {
  display: flex;
  flex-direction: row;
  margin: 1rem 2rem 0 2rem;
}

.coordinate {
  margin-right: 2rem;
}

.coordinates__title {
  text-align: left;
  margin-left: 2rem;
  font-weight: bold;
}

.coordinates__div::after {
  content: '';
  position: absolute;
  width: 27rem;
  height: .2rem;
  background: #FFB400;
  border-radius: 1rem;
  margin-left: -13.5rem;
  margin-top: 1rem;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.details__bold {
  font-family: "Bungee", sans-serif;
}
.details__three {
  font-family: "Bungee", sans-serif;
  font-size: 5rem;
  padding-right: .3rem;
}

.details__tokens {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.align__left {
  text-align: left;
}