@value tokens: "../../styles/tokens.module.css";
@value colorPrimary, darkPrimary, AccentColor from tokens;

.container {
  background-color: #ff961a;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 80rem 1fr;
  grid-template-rows: 11rem auto 21rem;
  grid-template-areas: "backlink topbox ." " . middel ." "bottombox bottombox bottombox";
  justify-content: center;
}
.hidden {
  display: none;
}

.backlink {
  grid-area: backlink;
}

.controllerContainer {
  grid-area: middel;
  display: grid;
  grid-template-columns: repeat(2, 36.4rem);
  grid-template-rows: 4rem 25rem auto;
  grid-column-gap: 4rem;
  grid-row-gap: 6rem;
  justify-content: center;
  grid-template-areas: "title title" "qrcode car" "button button";
}

.title {
  grid-area: title;
  justify-self: center;
  width: 422px;
  height: 36px;
  font-family: Bungee;
  font-size: 3rem;
}

.qrcodes {
  grid-area: qrcode;
  width: 30.6rem;
  height: 20.9rem;

  border-radius: 1.6rem;
  color: colorPrimary;
  background-color: darkPrimary;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.link {
  margin-top: 1rem;
}

.qrcodes a {
  color: colorPrimary;
  text-decoration: underline;
}

.car {
  grid-area: car;
  width: 30.6rem;
  height: 20.9rem;

  border-radius: 1.6rem;
  color: colorPrimary;
  background-color: darkPrimary;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Bungee;
  font-size: 2.5rem;
}

.start {
  justify-self: center;
  grid-area: button;
  border: 0.5rem solid darkPrimary;
  box-sizing: border-box;
  border-radius: 1.7rem;
  width: 34rem;
  height: 10.6rem;
  padding: 0.6rem;

  font-family: Bungee;
  font-size: 6rem;
  display: flex;
  flex-flow: column;
  text-align: center;
  color: darkPrimary;
}

.whiteImg {
  margin-right: 1rem;
  -webkit-filter: grayscale(100%) brightness(10%) sepia(100%)
    hue-rotate(-180deg) saturate(700%) contrast(0.8);
  filter: grayscale(100%) brightness(10%) sepia(100%) hue-rotate(-180deg)
    saturate(700%) contrast(0.8);
}

.littlebuttonText {
}
