@import "./styles/reset.css";
@value tokens: "./styles/tokens.module.css";
@value colorPrimary, darkPrimary from tokens;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-size: 1.4rem;
  margin: 0;
  color: #00204b;
  font-family: "Ubuntu", sans-serif;
  background-color: #ffb400;
}

#root {
  height: 100vh;
}

a {
  text-decoration: none;
}
